<nav class="navbar navbar-expand-lg bg-body py-2 fixed-top">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand fw-bold" href="#!">THC <span class="text-primary">Furniture</span></a>
        <!-- Toggle Btn -->
        <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- SideBar -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">THC <span
                        class="text-primary">Furniture</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav nav-underline justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link text-body active" aria-current="page" href="#!">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="#!about">Giới thiệu</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-body dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Sản phẩm
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body " href="#!agent">Hệ thống</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="#!news">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="#!contact">Liên hệ</a>
                    </li>
                </ul>
                <!-- Login / Sign up -->
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <div class="dropdown">
                        <button class="border-0 bg-transparent" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-regular fa-user"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <div ng-if="!user">
                                <li><a class="dropdown-item" href="#!login">Đăng nhập</a></li>
                                <li><a class="dropdown-item" href="#!signup">Đăng ký</a></li>
                            </div>
                            <div ng-if="user">
                                <li><a class="dropdown-item" href="#!info">Tài khoản</a></li>
                                <li><a class="dropdown-item" href="#!info_orders">Đơn hàng</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)" ng-click="logout()">Đăng xuất</a></li>
                            </div>
                            <div ng-if="user.role==1">
                                <li>
                                    <hr>
                                </li>
                                <li><a class="dropdown-item" href="ad_index.html">Admin</a></li>
                            </div>
                        </ul>
                    </div>
                    <a class="text-decoration-none text-black px-3 py-1 bg-primary rounded-3 text-white"
                        href="#!cart">
                        <i class="fa-solid fa-bag-shopping"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>