<!-- Banner star-->
<section class=" py-2">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active position-relative" data-bs-interval="10000">
                <img src="../public/upload/banners/slider_1.webp" class="d-block w-100" alt="...">
                <div class="d-none d-md-block position-absolute top-50 start-0 translate-middle-y">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item position-relative" data-bs-interval="2000">
                <img src="../public/upload/banners/slider_2.webp" class="d-block w-100" alt="...">
                <div class="d-none d-md-block position-absolute top-50 start-0 translate-middle-y">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item position-relative">
                <img src="../public/upload/banners/slider_1.webp" class="d-block w-100" alt="...">
                <div class="d-none d-md-block position-absolute top-50 start-0 translate-middle-y">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- Banner end-->

<!-- Category start -->
<section class="cate-list bg-body py-2">
    <div class="container text-center">
        <div class="row my-4">
            <div class="col-lg-6 col-md-12">
                <div class="card text-bg-dark">
                    <img src="../public/upload/category/cate_1_img.webp" class="card-img" width="300" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Sản phẩm bán chạy</h5>
                        <p class="card-text">Tiện ích cho nhu cầu sinh hoạt hàng ngày. Giải pháp An toàn - Tiết kiệm
                        </p>
                        <p class="card-text"><small>Xem thêm</small></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-6">
                <div class="card text-bg-dark">
                    <img src="../public/upload/category/cate_2_img.webp" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Đèn trang trí</h5>
                        <p class="card-text">Thẩm mỹ độc đáo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-6">
                <div class="card text-bg-dark">
                    <img src="../public/upload/category/cate_3_img.webp" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Đồ trang trí</h5>
                        <p class="card-text">Không gian nghệ thuật</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-xs-6">
                <div class="card text-bg-dark">
                    <img src="../public/upload/category/cate_4_img.webp" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Thiết bị vệ sinh</h5>
                        <p class="card-text">Đa dạng mẫu mã</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category end -->

<!-- promotion start -->
<section class="products bg-body py-2">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Khuyến mãi đặc biệt</h2>
            <a href="" class="text-body">Xem tất cả <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-2 mb-2" ng-repeat="item in dsSP | limitTo:8">
                <div class="card position-relative" style="width: 100%;">
                    <div class="position-absolute top-0 start-0 bg-sale z-1">15%</div>
                    <div class="overflow-hidden">
                        <img src="public/upload/products/{{item.img}}" class="card-img-top z-0"
                            alt="{{item.name}}">
                    </div>
                    <div class="card-body">
                        <a href="#!san-pham/{{item.id}}" class="text-decoration-none text-body">
                            <h5 class="card-title">{{item.name}}</h5>
                        </a>
                        <p class="card-text"><strong>{{item.price | currency:"":0}} ₫</strong> <span
                                class="text-secondary text-decoration-line-through">730.000₫</span></p>
                        <button ng-click="addToCart(item)" class="btn btn-primary container-fluid">Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- promotion end -->

<!-- News start -->
<section class="bg-body py-2">
    <div class="container">
        <div class="d-flex flex-column justify-content-between align-items-center">
            <h2>Tin tức mới nhất</h2>
            <span>Cập nhật những tin tức nội thất mới nhất hiện nay</span>
        </div>
        <div class="row mt-3">
            <div class="card border-0 col-md-6 col-lg-4" style="background: none;">
                <img src="../public/upload/news/ghe-sofa-gia-re-duoi-2-trieu-14.webp" alt=""
                    class="img-fluid rounded-3">
                <div class="position-relative rounded p-2 mx-2 text-center bg-body shadow" style="top: -25px;">
                    <strong>5 Mẫu ghế sofa giá rẻ dưới 2 triệu nhỏ gọn bán chạy nhất 2023</strong>
                    <hr class=" my-2 border-3 border-primary rounded">
                    <span>Mẫu ghế sofa giá rẻ dưới 2 triệu hiện đang được nhiều người “săn lùng” nhờ giá thành rẻ, chất
                        lượng tốt</span>
                </div>
            </div>

            <div class="card border-0 col-md-6 col-lg-4" style="background: none;">
                <img src="../public/upload/news/ghe-sofa-gia-re-duoi-2-trieu-14.webp" alt=""
                    class="img-fluid rounded-3">
                <div class="position-relative rounded p-2 mx-2 text-center bg-body shadow" style="top: -25px;">
                    <strong>5 Mẫu ghế sofa giá rẻ dưới 2 triệu nhỏ gọn bán chạy nhất 2023</strong>
                    <hr class=" my-2 border-3 border-primary rounded">
                    <span>Mẫu ghế sofa giá rẻ dưới 2 triệu hiện đang được nhiều người “săn lùng” nhờ giá thành rẻ, chất
                        lượng tốt</span>
                </div>
            </div>

            <div class="card border-0 col-md-6 col-lg-4" style="background: none;">
                <img src="../public/upload/news/ghe-sofa-gia-re-duoi-2-trieu-14.webp" alt=""
                    class="img-fluid rounded-3">
                <div class="position-relative rounded p-2 mx-2 text-center bg-body shadow" style="top: -25px;">
                    <strong>5 Mẫu ghế sofa giá rẻ dưới 2 triệu nhỏ gọn bán chạy nhất 2023</strong>
                    <hr class=" my-2 border-3 border-primary rounded">
                    <span>Mẫu ghế sofa giá rẻ dưới 2 triệu hiện đang được nhiều người “săn lùng” nhờ giá thành rẻ, chất
                        lượng tốt</span>
                </div>
            </div>

            <div class="card border-0 col-md-6 col-lg-4" style="background: none;">
                <img src="../public/upload/news/ghe-sofa-gia-re-duoi-2-trieu-14.webp" alt=""
                    class="img-fluid rounded-3">
                <div class="position-relative rounded p-2 mx-2 text-center bg-body shadow" style="top: -25px;">
                    <strong>5 Mẫu ghế sofa giá rẻ dưới 2 triệu nhỏ gọn bán chạy nhất 2023</strong>
                    <hr class=" my-2 border-3 border-primary rounded">
                    <span>Mẫu ghế sofa giá rẻ dưới 2 triệu hiện đang được nhiều người “săn lùng” nhờ giá thành rẻ, chất
                        lượng tốt</span>
                </div>
            </div>

            <div class="card border-0 col-md-6 col-lg-4" style="background: none;">
                <img src="../public/upload/news/ghe-sofa-gia-re-duoi-2-trieu-14.webp" alt=""
                    class="img-fluid rounded-3">
                <div class="position-relative rounded p-2 mx-2 text-center bg-body shadow" style="top: -25px;">
                    <strong>5 Mẫu ghế sofa giá rẻ dưới 2 triệu nhỏ gọn bán chạy nhất 2023</strong>
                    <hr class=" my-2 border-3 border-primary rounded">
                    <span>Mẫu ghế sofa giá rẻ dưới 2 triệu hiện đang được nhiều người “săn lùng” nhờ giá thành rẻ, chất
                        lượng tốt</span>
                </div>
            </div>

            <div class="card border-0 col-md-6 col-lg-4" style="background: none;">
                <img src="../public/upload/news/ghe-sofa-gia-re-duoi-2-trieu-14.webp" alt=""
                    class="img-fluid rounded-3">
                <div class="position-relative rounded p-2 mx-2 text-center bg-body shadow" style="top: -25px;">
                    <strong>5 Mẫu ghế sofa giá rẻ dưới 2 triệu nhỏ gọn bán chạy nhất 2023</strong>
                    <hr class=" my-2 border-3 border-primary rounded">
                    <span>Mẫu ghế sofa giá rẻ dưới 2 triệu hiện đang được nhiều người “săn lùng” nhờ giá thành rẻ, chất
                        lượng tốt</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- News end -->